{{define "wsnotice"}}<div style="background-color: #ffa; border: 1px solid black; border-radius: 4px; width: 800px; margin: 32px auto; padding: 16px;">
WARNING: Most of the content on this site is for an older version of
Garry's Mod. While a lot of it will still work in the current version of
Garry's Mod - it might require some editing. If at all possible you
should try to get addons from the <a href="http://steamcommunity.com/workshop/browse?appid=4000">Steam
	Workshop</a>. Just sign in and press subscribe. <br>Subscribed Workshop addons will download, install and
update automatically in game.
</div>{{end}}
