<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<link rel="icon" href="static/img/favicon.ico">
		<meta name="viewport" content="width=800px, initial-scale=1.0">
		<meta name="keywords" content="games pc half-life gamer online files server gaming player">
		<meta name="description" content="Download files for Garry's Mod, a Half-Life 2 modification">
		<title>{{.Title}}</title>
	</head>
	<body>
		{{/*{{template "wsnotice"}}*/}}
		<div id="document">
			<div id="header">
				{{/*{{template "user"}}*/}}
				{{template "logolinks"}}
			</div>
			<div id="content">
				{{template "search" .Query}}
				{{if eq .PageType "home"}}{{template "home" .}}{{else}}{{template "view" .Item}}{{end}}
				{{template "footer"}}
			</div>
		</div>
	</body>
</html>
